@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dropdown {
    position: relative;
    text-align: center;

    &__search {
        @include flex-vertical;
        @include shadow;
        gap: 0.75rem;
        background-color: $prim-color-2;
        border-radius: $border-radius-default;
        padding: 0.75rem;

        &-input {
            border: none;
            outline: none;
        }
    }

    &__languages {
        @include shadow;
        border-radius: $border-radius-default;
        position: absolute;
        top: 3.75rem;
        left: 0;
        min-width: 7.25rem;
        z-index: 1;
        background-color: $prim-color-2;

        &-all {
            padding: 0.75rem;
            border-radius: $border-radius-default;

            &:hover {
                cursor: pointer;
                background-color: $prim-color-1;
                color: $prim-color-2;
            }
        }
    }
}
