@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dropdown {
    @include flex;
    @include shadow;
    background-color: $prim-color-2;
    min-height: 2.5rem;
    max-height: 2.5rem;
    padding: 1.25rem;
    border-radius: $border-radius-default;

    &__menu {
        border: none;
    }
}
