@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-interface {
    @include flex-column;
    flex-direction: row;
    gap: $gap-default;
    height: 100vh;

    &__indv {
        display: none;

        @include desktop {
            @include flex-column;
            @include shadow;
            padding: 0.75rem;
            align-items: center;
            justify-content: space-between;
            background-color: $prim-color-1;

            &-left {
                @include flex-column;
                align-items: center;
                gap: 2.75rem;

                &-img {
                    @include flex;
                    margin-top: 0.75rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    &__outlet {
        height: 100%;
        width: 100%;
        overflow: scroll;
        padding: $padding-default;
        
        @include desktop {
            padding: $padding-default $padding-default $padding-default 0;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
