@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.emma-chatbot {
    @include flex-column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: auto;

    @include desktop {
        border-radius: $border-radius-default;
    }

    &__container {
        @include flex-column;
        gap: $gap-default;

        &-messages {
            @include flex-column;
            gap: 2.25rem;
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            &-left {
                display: flex;
                justify-content: flex-start;
            }

            &-right {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__send {
        @include flex-column;
        gap: 0.5rem;

        &-examples {
            display: flex;
            gap: $gap-default;
        }

        &-magic {
            @include flex-vertical;
            gap: $gap-default;
            opacity: 75%;

            &-img {
                width: 2.25rem;
                height: 2.25rem;
            }
        }

        &-container {
            display: flex;
            gap: 0.5rem;

            &-input {
                @include shadow;
                display: flex;
                align-items: center;
                padding: 1rem;
                background-color: $prim-color-2;
                border-radius: $border-radius-default;
                width: 100%;

                &-indv {
                    border: none;
                    background-color: $prim-color-2;
                    width: 100%;
                    outline: none;
                }
            }

            &-button {
                @include flex;
                @include shadow;
                border: none;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-2;

                &:hover {
                    background-color: $prim-color-1;
                    cursor: pointer;
                }
            }
        }
    }
}
