@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.flashcards-deck {
    @include flex-column;
    @include shadow;
    gap: $gap-default;
    padding: 1.25rem;
    background-color: $prim-color-2;
    border-radius: $border-radius-default;
    min-width: 27.15rem;
    max-width: 27.15rem;

    &__header {
        display: flex;
        justify-content: space-between;

        &-rating {
            @include flex-column;
            gap: 0.5rem;

            &-stars {
                &-img {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }

    &__percentage {
        font-weight: 700;
        color: #2fa5ff;
    }

    &__bar {
        background-color: #f3f4f8;
        border-radius: $border-radius-default;

        &-progress {
            height: 1rem;
            height: 0.25rem;
            width: 21%;
            background-color: #1baae7;
            border-radius: $border-radius-default;
        }
    }

    &__button {
        @include flex-vertical;
        text-decoration: none;
        color: #000;
        gap: $gap-default;
        justify-content: center;
        background-color: #f4f7f8;
        border-radius: $border-radius-default;
        padding: 0.5rem;
        cursor: pointer;
    }
}
