@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.transcription-user {
    @include flex-vertical;
    gap: $gap-default;
    width: 85%;

    &__profile {
        &-img {
            max-width: 2.75rem;
            max-height: 2.75rem;
            border-radius: 50%;
        }
    }

    &__content {
        &-box {
            @include flex-column;
            gap: 0.75rem;

            &-name {
                opacity: 50%;
            }

            &-indv {
                &-text {
                    @include shadow;
                    background-color: $prim-color-2;
                    padding: 1.25rem;
                    border-radius: $border-radius-default;
                    font-size: 0.825rem;
                    width: fit-content;
                    line-height: 1.15rem;
                }
            }
        }
    }
}
