@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-word {
    @include flex-column;
    gap: $gap-default;
    width: 100%;

    &__top {
        @include flex-column;
        gap: $gap-default;

        &-language {
            display: flex;
            gap: $gap-default;

            &-indv {
                @include shadow;
                @include flex;
                background-color: $prim-color-2;
                padding: $padding-default;
                border-radius: $border-radius-default;

                &-img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            &-name {
                @include flex-vertical;
                @include shadow;
                width: 100%;
                background-color: $prim-color-2;
                padding: $padding-default;
                border-radius: $border-radius-default;
            }

            &-speak {
                @include flex;
                @include shadow;
                background-color: $prim-color-2;
                padding: $padding-default;
                border-radius: $border-radius-default;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }

    &__nav {
        @include flex-vertical;
        justify-content: space-between;

        &-level {
            display: flex;
            gap: $gap-default;

            &-indv {
                @include flex-vertical;
                @include shadow;
                gap: $gap-default;
                background-color: $prim-color-2;
                padding: 0.75rem;
                border-radius: $border-radius-default;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }

                &-img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        &-buttons {
            @include flex-column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }

            &-cancel {
                @include shadow;
                border: none;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-2;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

            &-save {
                @include shadow;
                border: none;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-1;
                color: $prim-color-2;
                cursor: pointer;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }

    &__select {
        @include shadow;
        background-color: $prim-color-2;
        padding: 0.75rem;
        border-radius: $border-radius-default;
    }
}

.active-level {
    background-color: $prim-color-1;
}
