@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.live-chat {
    @include flex-column;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: $prim-color-2;
    height: calc(100vh - 2rem);

    @include desktop {
        border-radius: $border-radius-default;
    }

    &__container {
        @include flex-column;
        gap: $gap-default;

        &-nav {
            @include flex-vertical;
            gap: $gap-default;

            &-hide,
            &-close,
            &-messages,
            &-ai {
                @include flex;
                gap: 1rem;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: #f5f5f5;
                cursor: pointer;

                &-img {
                    @include icons-size;
                }

                &-text {
                    display: none;

                    @include tablet {
                        display: block;
                    }
                }
            }

            &-hide {
                @include desktop {
                    display: none;
                }
            }

            &-close {
                display: none;

                @include desktop {
                    display: block;
                }
            }
        }

        &-messages {
            @include flex-column;
            gap: 2.25rem;
            height: 81.25vh;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__send {
        @include flex-column;
        gap: 0.5rem;

        &-magic {
            @include flex-vertical;
            gap: $gap-default;

            &-text {
                opacity: 50%;
            }
        }

        &-container {
            display: flex;
            gap: 0.5rem;

            &-input {
                display: flex;
                align-items: center;
                padding: 1rem;
                background-color: #f5f5f5;
                border-radius: $border-radius-default;
                width: 100%;

                &-indv {
                    border: none;
                    background-color: #f5f5f5;
                    width: 100%;
                    outline: none;
                }
            }

            &-message {
                @include flex;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: #f5f5f5;
            }
        }
    }
}
