@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.emma-video {
    padding: 1rem;

    @include desktop {
        display: flex;
        gap: $gap-default;
    }

    &__left {
        height: calc(100vh - 2rem);
        border-radius: $border-radius-default;

        &-content {
            @include flex-column;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 5rem;

            &-ai {
                width: 100%;

                @include tablet {
                    width: 62.5%;
                }

                @include desktop {
                    width: 32.5%;
                }
            }

            &-subtitles {
                width: 85%;
                color: $prim-color-1;
            }
        }

        &-mic {
            @include flex-column;
            position: relative;
            bottom: 17.5%;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            width: 100%;
            gap: 0.75rem;

            &-container {
                display: flex;
                justify-content: center;
                background-color: $prim-color-1;
                border-radius: 50%;
                padding: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;

                &-img {
                    @include icons-size;
                }
            }

            &-text {
                color: $prim-color-1;
                font-weight: 700;
            }
        }
    }

    &-card-modal {
        background-color: #000;
        max-height: 100vh;
        min-height: 100vh;
        outline: none;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &-background {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: blur(0.5rem);
        }
    }
}

.not-active {
    opacity: 0;
}
