@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.emma-video {
    @include flex-column;
    background-color: #000;
    gap: 2.75rem;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &--bg {
        @include flex-column;
        align-items: center;
        gap: 2.75rem;
        width: 50%;
    }

    &__ai {
        @include flex-column;
        width: 100%;
        gap: 2.75rem;
        align-items: center;
        position: relative;

        &-live {
            position: relative;

            &-img {
                width: 20rem;
                height: 20rem;
            }
        }

        &-user {
            @include shadow;
            width: 100%;
            max-height: 5.75rem;
            padding: 0.75rem;
            border-radius: $border-radius-default;
            background-color: $prim-color-2;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-translation {
            width: 100%;
            display: flex;
            gap: $gap-default;
            position: relative;

            &-dropdown {
                position: absolute;
                left: -4rem;
            }

            &-indv {
                @include shadow;
                width: 100%;
                max-height: 5.75rem;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-2;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    &__nav {
        display: flex;
        gap: $gap-default;

        &-mic {
            &-select {
                @include shadow;
                height: 100%;
                padding: 0.75rem;
                background-color: $prim-color-2;
                border-radius: $border-radius-default;
            }
        }

        &-languages {
            position: relative;

            &-current {
                @include flex;
                @include shadow;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-2;
                min-width: 6.5rem;
                max-width: 6.5rem;
                height: 100%;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    background-color: $prim-color-1;
                    color: $prim-color-2;
                }
            }

            &-all {
                @include flex-column;
                gap: $gap-default;
                position: absolute;
                top: 0.05rem;
                left: 0;

                &-indv {
                    @include flex;
                    @include shadow;
                    padding: 0.75rem;
                    border-radius: $border-radius-default;
                    background-color: $prim-color-2;
                    min-width: 6.5rem;
                    max-width: 6.5rem;
                    height: 100%;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                        background-color: $prim-color-1;
                        color: $prim-color-2;
                    }
                }
            }
        }
    }
}

.hide-speech {
    opacity: 0;
}
