@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.emma-video {
    @include flex-column;
    gap: $gap-default;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__transcription {
        &-img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__messages {
        width: 100%;
        height: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__nav {
        display: flex;
        gap: $gap-default;
        width: 100%;

        &-mic {
            &-select {
                @include shadow;
                height: 100%;
                white-space: nowrap;
                padding: 0.75rem;
                background-color: $prim-color-2;
                border-radius: $border-radius-default;
            }
        }

        &-languages {
            position: relative;

            &-current {
                @include flex;
                @include shadow;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-2;
                min-width: 6.5rem;
                max-width: 6.5rem;
                height: 100%;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    background-color: $prim-color-1;
                    color: $prim-color-2;
                }
            }

            &-all {
                @include flex-column;
                gap: $gap-default;
                position: absolute;
                bottom: 0;
                left: 0;

                &-indv {
                    @include flex;
                    @include shadow;
                    padding: 0.75rem;
                    border-radius: $border-radius-default;
                    background-color: $prim-color-2;
                    min-width: 6.5rem;
                    max-width: 6.5rem;
                    height: 100%;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                        background-color: $prim-color-1;
                        color: $prim-color-2;
                    }
                }
            }
        }

        &-search,
        &-transcription {
            @include flex-vertical;
            @include shadow;
            gap: $gap-default;
            width: 100%;
            background-color: $prim-color-2;
            padding: 0.75rem;
            border-radius: $border-radius-default;

            &-img {
                opacity: 50%;
            }

            &-input {
                background-color: $prim-color-2;
                border: none;
                outline: none;
                width: 100%;
            }
        }

        &-transcription {
            &-input {
                overflow: scroll;
            }
        }
    }
}

.hide-speech {
    opacity: 0;
}

.black {
    color: #000;
}

.loading-animation {
    animation: spin 1s linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
