@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.new-flashcard {
    @include flex-column;
    gap: $gap-default;

    &__languages {
        @include flex-column;
        gap: $gap-default;

        &-foreign {
            display: flex;
            gap: $gap-default;

            &-indv {
                @include shadow;
                @include flex;
                background-color: $prim-color-2;
                padding: $padding-default;
                border-radius: $border-radius-default;

                &-img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    &__nav {
        @include flex-vertical;
        justify-content: space-between;

        &-level {
            display: flex;
            gap: $gap-default;

            &-indv {
                @include shadow;
                @include flex;
                background-color: $prim-color-2;
                padding: 0.75rem;
                border-radius: $border-radius-default;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

                &-img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        &-buttons {
            @include flex-column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }

            &-indv {
                border: none;
                border-radius: $border-radius-default;
                color: $prim-color-2;
                background-color: $prim-color-1;
                padding: 0.75rem;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}

.active-level {
    background-color: $prim-color-1;
}
