@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-flashcard {
    @include shadow;
    @include flex-column;
    position: relative;
    gap: $gap-default;
    background-color: $prim-color-2;
    padding: $padding-default;
    border-radius: $border-radius-default;

    &__languages {
        display: flex;
        gap: $gap-default;

        &-foreign {
            @include flex-vertical;
            gap: $gap-default;
            width: 100%;

            &-indv {
                @include flex;
                background-color: $prim-color-3;
                padding: $padding-default;
                border-radius: $border-radius-default;

                &-img {
                    width: 2rem;
                    height: 2rem;
                }
            }

            &-input {
                @include flex-column;
                width: 100%;
                gap: 0.25rem;
                border-radius: $border-radius-default;
                background-color: $prim-color-3;
                padding: 0.75rem;

                &-title {
                    font-size: 0.75rem;
                    opacity: 50%;
                }

                &-indv {
                    background-color: $prim-color-3;
                    // font-size: 0.925rem;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    &__nav {
        @include flex-vertical;
        justify-content: space-between;

        &-level {
            display: flex;
            gap: $gap-default;

            &-indv {
                @include shadow;
                @include flex;
                background-color: $prim-color-3;
                padding: 0.75rem;
                border-radius: $border-radius-default;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

                &-img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        &-buttons {
            @include flex-column;
            gap: $gap-default;

            @include tablet {
                flex-direction: row;
            }

            &-save {
                @include shadow;
                border: none;
                border-radius: $border-radius-default;
                color: $prim-color-2;
                background-color: $prim-color-1;
                padding: 0.75rem;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}

.active-level {
    background-color: $prim-color-1;
}
