@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

html {
    max-width: 42.5rem;
    margin: auto;
    background-color: #f5f5f5;

    @include desktop {
        max-width: 92.25rem;
    }
}
