@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

html {
    max-width: 42.5rem;
    margin: auto;
    // background-color: #FAFAFA;
    background-color: #F5F5F5;

    @include desktop {
        max-width: 160rem;
    }
}
