@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
    max-width: 42.5rem;
    margin: auto;
    background-color: #f4f7f8;
    overflow-x: hidden;

    @include desktop {
        max-width: 157.5rem;
    }
}
