@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

html {
    max-width: 42.5rem;
    margin: auto;
    background-color: #F4F7F8;

    @include desktop {
        max-width: 98.5rem;
    }
}
