@use "./variables" as *;

// Tablet and Desktop Breakpoints

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-horizontal {
    display: flex;
    justify-content: center;
}

@mixin flex-vertical {
    display: flex;
    align-items: center;
}

@mixin icons-size {
    width: 1.5rem;
    height: 1.5rem;
}

@mixin icons-border {
    background-color: $prim-color-2;
    padding: .5rem;
    border-radius: 0.75rem;
}
