// media queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$prim-color-1: #0e0e52;
$prim-color-2: #fff;
$prim-color-3: #f4f5f7;

$gap-default: 1rem;
$padding-default: 1rem;
$border-radius-default: 0.75rem;
