@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-call {
    padding: 1rem;

    @include desktop {
        display: flex;
        gap: $gap-default;
    }

    &__left {
        position: relative;
        background: url("../../assets/images/placeholder-video.jpg");
        background-position: center;
        background-size: cover;
        padding: 1.25rem;
        height: calc(100vh - 2rem);
        border-radius: $border-radius-default;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: $border-radius-default;
        }

        &-content {
            @include flex;
            width: 100%;
            height: 100%;

            &-subtitles {
                position: absolute;
                bottom: 15%;
                width: 85%;
                color: $prim-color-2;
                font-weight: 700;
                font-size: 0.825rem;
                text-align: center;

                @include desktop {
                    position: relative;
                    top: -45%;
                }
            }
        }

        &-nav {
            @include flex-horizontal;
            position: relative;
            bottom: 5%;
            gap: 1rem;

            &-video,
            &-mic,
            &-share {
                @include flex-horizontal;
                background-color: $prim-color-2;
                border-radius: 50%;
                padding: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;

                &-img {
                    @include icons-size;
                }
            }
        }

        &-user {
            position: absolute;
            background-image: url("../../assets/images/vertical-photo.jpeg");
            background-position: center;
            background-size: cover;
            top: 1rem;
            right: 1rem;
            border-radius: $border-radius-default;
            width: 9rem;
            height: 16rem;

            @include desktop {
                display: none;
            }
        }

        &-bottom {
            display: none;

            @include desktop {
                display: block;
                position: absolute;
                background-image: url("../../assets/images/vertical-photo.jpeg");
                background-position: center;
                background-size: cover;
                bottom: 1rem;
                right: 1rem;
                border-radius: $border-radius-default;
                width: 16rem;
                height: 9rem;
            }
        }
    }

    &-card-modal {
        background-color: #000;
        max-height: 100vh;
        min-height: 100vh;
        outline: none;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &-background {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: blur(0.5rem);
        }
    }
}

.not-active {
    opacity: 0;
}
