@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.readings-progress {
    @include flex-column;
    @include shadow;
    gap: 1.5rem;
    padding: 1.25rem;
    background-color: $prim-color-2;
    border-radius: $border-radius-default;
    min-width: 20rem;
    max-width: 20rem;
    text-decoration: none;

    &:hover {
        transform: scale(1.025);
    }

    &__level {
        @include flex-vertical;
        justify-content: space-between;

        &-img {
            width: 2.25rem;
            height: 2.25rem;
        }

        &-cefr {
            @include flex;
            padding: 0.25rem;
            min-width: 3.25rem;
            border-radius: $border-radius-default;

            &-indv {
                font-weight: 700;
            }
        }
    }

    &__language {
        @include flex-column;
        gap: 0.75rem;

        &-name {
            color: #000;
            font-weight: 700;
            opacity: 50%;
        }

        &-readings {
            color: #000;
            font-weight: 700;
        }

        &-words {
            font-weight: 700;
        }

        &-bar {
            background-color: #f3f4f8;
            border-radius: $border-radius-default;

            &-progress {
                border-radius: $border-radius-default;
                height: 0.25rem;
                width: 21%;
            }
        }
    }
}
