@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.pending {
    @include components-border;
    @include flex-column;
    gap: $gap-default;
    min-width: 16.25rem;
    max-width: 16.25rem;

    &__container {
        display: flex;
        justify-content: space-between;

        &-left {
            @include flex-column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            &-img {
                max-width: 3.25rem;
                max-height: 3.25rem;
                border-radius: 50%;
                flex: 1 1 0;
            }

            &-lessons {
                font-size: 11px;
            }
        }

        &-right {
            @include flex-column;
            gap: 0.5rem;

            &-name {
                &-bold {
                    opacity: 50%;
                }
            }

            &-location {
                opacity: 50%;
            }

            &-time {
                font-weight: 700;
            }
        }
    }
}
