@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.transcription-ai {
    display: flex;
    justify-content: flex-end;
    gap: $gap-default;
    width: 85%;

    &__profile {
        order: 1;
        padding-top: 2.75rem;

        &-img {
            max-width: 2.75rem;
            max-height: 2.75rem;
            border-radius: 50%;
        }
    }

    &__content {
        @include flex-column;
        justify-content: flex-end;
        gap: 0.75rem;
        order: 0;

        &-name {
            opacity: 50%;
            display: flex;
            justify-content: flex-end;
        }

        &-container {
            @include flex-column;
            gap: $gap-default;
            align-items: flex-end;

            &-text {
                @include shadow;
                background-color: $prim-color-1;
                color: $prim-color-2;
                padding: 1.25rem;
                border-radius: $border-radius-default;
                font-size: 0.825rem;
                width: fit-content;
                line-height: 1.15rem;
            }

            &-translation {
                @include shadow;
                background-color: $prim-color-2;
                padding: 1.25rem;
                border-radius: $border-radius-default;
                font-size: 0.825rem;
                width: fit-content;
                line-height: 1.15rem;
            }
        }

        &-dropdown {
            display: flex;
            justify-content: flex-end;
        }
    }
}
