@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.friend {
    @include components-border;

    &__name {
        display: flex;
        justify-content: space-between;

        &-text {
            opacity: 50%;
        }

        &-img {
            opacity: 50%;
        }
    }
}
