@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    @include flex-column;
    gap: $gap-default;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    &__nav {
        @include flex-column;
        flex-direction: row;
        gap: $gap-default;

        @include desktop {
            order: 1;
        }

        &-hamburger,
        &-openai,
        &-messages,
        &-profile {
            @include flex;
            @include icons-border;

            &-img {
                @include icons-size;
            }
        }

        &-hamburger {
            @include desktop {
                display: none;
            }
        }

        &-profile {
            display: none;

            @include tablet {
                @include flex-vertical;
                text-decoration: none;
                gap: $gap-default;

                &-img {
                    border-radius: 50%;
                }

                &-greeting {
                    color: $prim-color-1;
                }
            }
        }
    }

    &__search {
        @include flex-vertical;
        gap: $gap-default;

        @include desktop {
            order: 0;
        }

        &-bar {
            @include flex-vertical;
            @include icons-border;
            gap: $gap-default;
            width: 100%;

            &-img {
                @include icons-size;
            }

            &-input {
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }

        &-mobile {
            @include flex;
            @include icons-border;

            @include desktop {
                display: none;
            }

            &-img {
                @include icons-size;
            }
        }

        &-desktop {
            display: none;

            @include desktop {
                display: flex;
                gap: $gap-default;
            }
        }
    }
}
