@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.vc-button {
    &__indv {
        @include flex;
        @include shadow;
        position: relative;
        background-color: $prim-color-2;
        padding: 0.75rem;
        border: none;
        border-radius: $border-radius-default;
        cursor: pointer;

        &-img {
            width: 1.5rem;
            height: 1.5rem;
        }

        &-hover {
            @include shadow;
            position: absolute;
            background-color: $prim-color-1;
            color: $prim-color-2;
            padding: 0.75rem;
            border: none;
            border-radius: $border-radius-default;
            bottom: 4.5rem;
            white-space: nowrap;
        }
    }
}

.toggle-hover {
    background-color: $prim-color-1;
}

.toggle-img {
    filter: brightness(0) invert(1);
}
