@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.transparent {
    @include flex;
    border: 1px solid $prim-color-1;
    border-radius: 2.25rem;
    width: 100%;
    color: $prim-color-1;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    font-weight: 700;
    font-size: 0.825rem;

    &:hover {
        background-color: $prim-color-1;
        color: $prim-color-2;
    }
}
