@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.landing {
    background-color: #000;

    @include desktop {
        @include flex;
    }

    &--bg {
        @include desktop {
            @include flex-vertical;
            width: 85%;
        }
    }

    &__left {
        @include flex-column;
        align-items: center;
        text-align: center;
        gap: 2.75rem;
        height: 100vh;
        padding: 1.5rem;
        color: $prim-color-2;
        background-color: #000;

        @include desktop {
            justify-content: center;
            text-align: start;
            align-items: flex-start;
        }

        &-logo {
            @include flex-vertical;
            gap: $gap-default;

            &-img {
                width: 1.5rem;
                height: 1.5rem;
            }

            &-name {
                font-weight: 700;
            }
        }

        &-ai {
            &-img {
                width: 17.5rem;
                height: 17.5rem;
            }

            @include desktop {
                display: none;
            }
        }

        &-header {
            font-size: 1.75rem;
            line-height: 2.25rem;

            @include desktop {
                font-size: 2.25rem;
                line-height: 3rem;
            }

            &-span {
                background-image: linear-gradient(
                    135deg,
                    #ff51d7,
                    #ff4848 37%,
                    #1862ff 70%,
                    #1862ff
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-button {
            @include flex-horizontal;
            justify-content: space-around;
            width: 50%;

            @include desktop {
                justify-content: flex-start;
                gap: $gap-default;
            }
        }
    }

    &__right {
        &-ai {
            &-img {
                width: 27.5rem;
                height: 27.5rem;
            }
        }
    }
}

.new-line {
    background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;

    @include tablet {
        background-image: url(https://assets-global.website-files.com/60e5f2de011b86acebc30db7/630a52793591b5ddf26ea695_Jasper%20Art%20Underline.svg);
    }
}

.medium-line {
    margin-right: -3rem;
    margin-bottom: -3.5rem;
    margin-left: -3rem;
    padding-right: 3rem;
    padding-bottom: 3.5rem;
    padding-left: 3rem;
}
