@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

html {
  margin: 0;
}

.landing {
  @include flex-column;
  background-color: $prim-color-1;
  gap: $gap-default;
  padding: 1.25rem;
  height: fit-content;
  width: 100vw;

  &__logo {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

    &--img {
      height: 3rem;
      width: 3rem;
    }

    &--copy {
      @include flex-vertical;
      color: $prim-color-2;
      padding-top: 0.75rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 4rem;

    &--link {
      color: $prim-color-2;
      font-size: 0.8rem;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        padding-bottom: 0.5rem;
        border-bottom: solid 0.25rem rgb(128, 255, 114);
        color: linear-gradient(
          59deg,
          rgba(128, 255, 114, 1) 0%,
          rgba(128, 255, 114, 1) 26%,
          rgba(126, 232, 250, 1) 100%
        );

        color: rgb(128, 255, 114);
        color: linear-gradient(
          59deg,
          rgba(128, 255, 114, 1) 0%,
          rgba(128, 255, 114, 1) 26%,
          rgba(126, 232, 250, 1) 100%
        );
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: row;

    &--gif {
      max-width: 16rem;
      max-height: 17.625rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    &--text {
      color: $prim-color-2;
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    &--text {
      color: $prim-color-2;
      font-size: 1rem;
      font-weight: 100;
      line-height: 1.25rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &--log-in {
      width: 8rem;
      height: 4rem;
      border-radius: 2rem;
      color: $prim-color-1;
      background: rgb(128, 255, 114);
      background: linear-gradient(
        90deg,
        rgba(128, 255, 114, 1) 0%,
        rgba(126, 232, 250, 1) 100%
      );
    }

    &--sign-up {
      width: 8rem;
      height: 4rem;
      border-radius: 2rem;
      color: $prim-color-2;
      background-color: $prim-color-1;

      border: solid 0.025rem rgb(128, 255, 114);
      color: linear-gradient(
        90deg,
        rgba(128, 255, 114, 1) 0%,
        rgba(126, 232, 250, 1) 100%
      );
    }
  }
}

// TECXT GRADIENTS

.text {
  &__green-gradient {
    color: rgb(128, 255, 114);
    color: linear-gradient(
      90deg,
      rgba(128, 255, 114, 0.8524452017134979) 94%,
      rgba(126, 232, 250, 1) 100%
    );
  }

  &__blue-gradient {
    color: rgb(126, 232, 250);
    color: linear-gradient(
      90deg,
      rgba(126, 232, 250, 0.7067869384081757) 93%,
      rgba(128, 255, 114, 0.8524452017134979) 100%
    );
  }

  &__mix-gradient {
    color: rgb(128, 255, 114);
    color: linear-gradient(
      90deg,
      rgba(128, 255, 114, 1) 36%,
      rgba(126, 232, 250, 1) 67%
    );
  }
}