@use "./styles/partials/fonts";
@use "./styles/partials/reset";
@use "./styles/partials/global";
@use "./styles/partials/mixins" as *;

.modal-status {
    @include flex;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
    background-color: #fff;
    outline: none;
    overflow: scroll;
    padding: 2.5rem;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }

    @include tablet {
        position: absolute;
        border-radius: 0.5rem;
        left: 37.5%;
        right: 37.5%;
        top: 5%;
        bottom: 5%;
        min-width: 25rem;
        max-width: 25rem;
        margin: auto;
        min-height: 0;
        max-height: 20vh;
    }

    &__background {
        background-color: #bfbfbf;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
