@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar {
    @include components-border;
    @include flex-column;
    gap: 1.75rem;

    &__left {
        @include flex-column;
        gap: 0.75rem;

        &-nav {
            @include flex-vertical;
            justify-content: space-between;
        }

        &-date {
            @include flex-column;
            flex-direction: row;
            justify-content: space-between;

            &-indv {
                @include flex;
                width: 2.5rem;
                font-size: 0.5rem;
            }
        }

        &-week {
            @include flex-column;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.75rem;

            &-paragraph {
                @include flex;
                background-color: rgb(0, 0, 0, 0.05);
                font-size: 0.75rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;

                &:hover {
                    background-color: rgb(0, 0, 0, 1);
                    color: $prim-color-2;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        @include flex-column;
        gap: 0.75rem;

        &-choose {
            @include flex-column;
            gap: 0.75rem;
        }
    }
}
