@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tutor-public {
    @include flex-column;
    gap: $gap-default;

    @include desktop {
        flex-direction: row;
    }

    &__left {
        @include flex-column;
        gap: $gap-default;
        flex: 0.75 1 0;

        &-reviews {
            @include flex-column;
            gap: $gap-default;

            &-header {
                font-weight: 700;
            }
        }

        &-container {
            &-reviews {
                display: flex;
                gap: $gap-default;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    &__right {
        @include flex-column;
        gap: $gap-default;
        flex: 0.425 1 0;

        &-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;

            &-iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: $border-radius-default;
            }
        }
    }
}
