@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.flashcards-page {
    @include flex-column;
    gap: $gap-default;
    flex: 1 1 0;

    &__nav {
        @include flex-column;
        gap: $gap-default;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }

        &-left {
            @include flex-column;
            gap: $gap-default;

            @include desktop {
                width: 75%;
                flex-direction: row;
            }

            &-languages {
                @include flex-column;
                gap: $gap-default;

                @include tablet {
                    flex-direction: row;
                }

                &-indv {
                    @include flex-vertical;
                    @include shadow;
                    padding: 0.75rem;
                    gap: $gap-default;
                    background-color: $prim-color-2;
                    border-radius: $border-radius-default;

                    &:hover {
                        cursor: pointer;
                        background-color: $prim-color-1;
                        color: $prim-color-2;
                    }

                    &-img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            &-search {
                @include flex-vertical;
                @include shadow;
                gap: $gap-default;
                background-color: $prim-color-2;
                border-radius: $border-radius-default;
                padding: 0.75rem;
                width: 100%;

                &-input {
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }

        &-link {
            @include flex-vertical;
            @include shadow;
            gap: $gap-default;
            text-decoration: none;
            color: #000;
            background-color: $prim-color-1;
            padding: 0.75rem;
            color: $prim-color-2;
            border-radius: $border-radius-default;

            &-img {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $gap-default;

        @include desktop {
            justify-content: flex-start;
        }
    }
}
